
.saman {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: rgb(243, 243, 20);
    z-index: 1;

  }
  .saman:hover{
    background-color:rgb(104, 104, 80);
    transition: .6s ease;
    

  }

  
  .saman > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    background-blend-mode: darken;
    /* animation: slide 1s infinite; */
	 

  }
  
  .saman__rating {
    display: flex;
  }
 .saman > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;

  }
  .saman > button:hover {
    transform: scale(1.1); /* Increase the size by 30% on hover */
    /* You can adjust the scale factor as needed */
    transition: transform 0.2s ease; /* Add a smooth transition effect */
  }
  
  
  .saman__Price {
    margin-top: 5px;
  }
  
  .saman__info {
    height: 100px;
    margin-bottom: 15px;
    justify-content: center;
  }
   
  @keyframes slide {
    0% {transform:translateX(-100%);}
    100% {transform:translateX(100%);}
  }